In [3]:
import pandas as pd

items = pd.read_parquet('./feature_repo/data/recommendation_items.parquet')
users = pd.read_parquet('./feature_repo/data/recommendation_users.parquet')
inter_pos = pd.read_parquet('./feature_repo/data/recommendation_interactions.parquet')
inter_neg = pd.read_parquet('./feature_repo/data/recommendation_neg_interactions.parquet')

In [4]:
from models.user_tower import UserTower
from models.item_tower import ItemTower
from models.train_two_tower import train_two_tower
dim = 256

item_encoder = ItemTower(dim)
user_encoder = UserTower(dim)
train_two_tower(item_encoder, user_encoder, items, users, inter_pos, inter_neg, n_epochs=10)

/home/ikatav/Projects/rec-sys-feast-edb/models/data_util.py:135: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  inter_df.fillna(-1.0, inplace=True)

Epoch 1/10, Average Loss: 23.5581
Epoch 2/10, Average Loss: 18.6744
Epoch 3/10, Average Loss: 18.6155
Epoch 4/10, Average Loss: 18.5931
Epoch 5/10, Average Loss: 18.6257
Epoch 6/10, Average Loss: 18.5752
Epoch 7/10, Average Loss: 18.6068
Epoch 8/10, Average Loss: 18.5375
Epoch 9/10, Average Loss: 18.5291
Epoch 10/10, Average Loss: 18.5518

In [10]:
import numpy as np 
ser1 = pd.Series(np.random.randn(19))
ser2 = pd.Series(np.random.randn(12))

import torch
torch.Tensor(pd.concat([ser1, ser2], axis=0).values)

tensor([-0.4582,  0.4464, -0.4244, -0.3672,  0.2081,  1.1683, -1.8775, -1.1103,
        -0.0674, -0.2874, -0.1199,  0.4839,  0.4532,  0.2384, -0.4397, -0.4850,
        -1.8894, -0.9573,  0.9265,  0.3346,  0.4438, -1.0821,  0.6544,  1.4958,
         0.1025, -0.2792, -1.5350,  1.1731,  0.2959,  0.1890,  0.7237])

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Define a function that uses two columns
def add_columns(row):
    return row['A'] + row['B']

# Apply the function to create a new column 'C'
df['C'] = df.apply(add_columns, axis=1)

print(df)

   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

In [5]:
merged_df = (
        inter_pos
        .merge(items, on='item_id')
        .merge(users, on='user_id')
    )

In [4]:
import numpy as np
k = 10_000
total_sum = 0
for _ in range(k):

    vec1 = np.random.randn(64)
    vec2 = np.random.randn(64)
    total_sum += np.linalg.norm(vec1 - vec2)
total_sum / k

11.274154388232255

In [ ]:
from models.data_util import data_preproccess

data_preproccess(users)['age'].shape

torch.Size([1000, 1])

In [33]:
import torch
bs = 40
dim = 64
a = torch.randn((bs, dim))
b = torch.randn((bs, dim))

torch.norm(a - b, dim=-1)

tensor([11.4344, 10.8330, 10.4950, 11.6234, 12.1679, 11.0393, 13.2349, 11.6698,
        11.5191, 10.6111, 11.1823, 12.3118, 11.0849, 10.2014, 10.4203, 12.5080,
        11.7885, 11.7910, 11.9697, 11.4450, 12.8274, 13.4097, 10.0472, 10.3564,
         9.9747, 11.4867, 14.8364, 11.6242,  9.8756, 10.8363,  9.8678, 11.6613,
        10.2409, 13.4157, 13.1314,  9.8599, 11.0918, 11.1050, 11.5635,  9.9014])

In [11]:
np.random.randint(1, 4)

1

In [13]:
inter_neg

,interaction_id,user_id,item_id,timestamp,interaction_type,rating,quantity
0,1,1,3270,2024-03-18 00:31:00,rate,1.0,None
1,2,1,1854,2024-11-19 12:26:00,view,NaN,None
2,3,1,4813,2024-11-08 19:11:00,view,NaN,None
3,4,1,778,2024-12-04 07:18:00,rate,2.0,None
4,5,1,1835,2024-05-21 05:35:00,view,NaN,None
...,...,...,...,...,...,...,...
19995,19996,1000,715,2024-09-10 14:37:00,view,NaN,None
19996,19997,1000,2166,2024-09-02 09:07:00,view,NaN,None
19997,19998,1000,4941,2024-03-14 13:59:00,view,NaN,None
19998,19999,1000,3763,2024-05-26 23:25:00,view,NaN,None
19999,20000,1000,1061,2024-07-08 07:43:00,rate,2.0,None

In [4]:
from dataset_gen import generate_interactions
import numpy as np
generate_interactions(users, items, 1000)['rating'].fillna('wow').map({'wow': 1, 4.0: 2, 5.0: 4, 3.0: 4})

0      1
1      1
2      1
3      1
4      1
      ..
995    1
996    1
997    1
998    1
999    1
Name: rating, Length: 1000, dtype: int64

In [ ]:
lst = []
for _ in range(1000):
    lst.append({'wow':  np.random.randint(1, 4)})
    lst.append({'wow':  np.nan})
df = pd.DataFrame(lst)
df

      wow
0     3.0
1     NaN
2     2.0
3     NaN
4     2.0
...   ...
1995  NaN
1996  3.0
1997  NaN
1998  1.0
1999  NaN

[2000 rows x 1 columns]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   wow     1000 non-null   float64
dtypes: float64(1)
memory usage: 15.8 KB

In [42]:
ser = pd.Series(np.random.randint(100))
ser.dtype

dtype('int64')

In [43]:
ser = pd.Series(np.random.randint(100))
ser.iloc[0] = None
ser.dtype

dtype('float64')

In [41]:
ser

0   NaN
dtype: float64